{% extends 'main.html'%}

{% block content%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        .container div h1{
            background-color: rgb(114, 114, 114);
            width: 300px;
            height: 100px;
        }

        .container {
            width: 800px;
            height: 500px;
            position: relative;
            text-align: center;
        }

        .centerA {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-120%, -50%);
            transform: translate(-120%, -50%);
        }
        .centerB {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-0%, -50%);
            transform: translate(-0%, -50%);
        }
    </style>

    <h1>Carpark Vacancy</h1>
    <div id="general" class="container">
        <div id="generalA" class="centerA">
        </div>
        <div id="generalB" class="centerB">
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // Results passed from view
            let slot_idsA;
            let slot_idsB;
            let general_result
            
            let general = document.getElementById('general');

            // general slots
            let generalA = document.getElementById('generalA');
            let generalB = document.getElementById('generalB');

            // get data from view
            function parse_data(){
                slot_idsA = JSON.parse('{{ slot_idsA|escapejs }}');
                slot_idsB = JSON.parse('{{ slot_idsB|escapejs }}');
                general_result = JSON.parse('{{ general_result|escapejs }}');
            }

            // render the color of slots
            function updateSlot(){
                for (let key in general_result){
                    if (general_result){
                        slotId = "general_" + key
                        slot = document.getElementById(slotId)
                        if (slot){
                            if (general_result[key] == 0)
                                slot.style.backgroundColor = "green"
                            else
                                slot.style.backgroundColor = "red"
                        }
                    }
                }
            }

            // render the slots
            function initialize(){
                parse_data()

                Alength = slot_idsA.length
                Blength = slot_idsB.length

                slot_idsA.forEach(element => {
                    let general_h1 = document.createElement('h1');
                    general_h1.id = "general_" + element;
                    let general_text = document.createTextNode(element);
                    general_h1.appendChild(general_text);
                    generalA.appendChild(general_h1);
                });

                slot_idsB.forEach(element => {
                    let general_h1 = document.createElement('h1');                  
                    general_h1.id = "general_" + element;
                    let general_text = document.createTextNode(element);
                    general_h1.appendChild(general_text);
                    generalB.appendChild(general_h1);
                });

                height = 0
                if (Alength > Blength)
                    height = Alength * 125
                else
                    height = Blength * 125

                general.style.height = height;
                
                updateSlot()
            }

            // fetch data from view every 0.5s
            function updateState(){
                $.ajax({
                    url: "http://localhost:8000/carslots/ajax/",
                    type: "GET",
                    success: function(data){
                        general_result = JSON.parse(data.general_result);
                        console.log(general_result)

                        updateSlot()

                        setTimeout(function() {
                            updateState()
                        }, 5000)
                    }
                })
            }
            parse_data()
            initialize()
            updateState();
        })
    </script>

{% endblock content%}
