{% extends 'spot_list.html'%}
{% block header %}
    <style>
        .returnButton {
            display: inline-block;
            background-color: #000000;
            color: #fff;
            padding: 0.5rem 1rem;
            margin: 5px;
            text-align: center;
            text-decoration: none;
            border-radius: 0.25rem;
            border: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .returnButton:hover {
            background-color: grey;
            cursor: pointer;
        }
    </style>

    <a class="returnButton" href="{% url 'spot_list' %}">Return</a>
{% endblock %}

{%block content%}
    <style>
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: auto;
            max-height: 70vh;
            max-width: 100%;
        }
        a.button {
            display: inline-block;
            background-color: #000000;
            color: #fff;
            padding: 0.5rem 1rem;
            margin: 5px;
            text-align: center;
            text-decoration: none;
            border-radius: 0.25rem;
            border: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        a.button:hover {
            background-color: grey;
            cursor: pointer;
        }
    </style>


    {% load static %}
    <h1 style="text-align: center;">Image {{ image_name }}</h1>
    <div style="text-align: center;">
        <a class="button" href="{% url 'overwrite_obj' %}?image_name={{ image_name }}" style="font-size: 20px;">Overwrite</a>
    </div>
    <img src="{% static image_name %}" />
{%endblock%}
